<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<!--   <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <title>InstaParser</title>
 <!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <link rel="shortcut icon" th:href="@{/assets/images/favicon/favicon.png}">
  <link rel="stylesheet" th:href="@{/assets/css/style.css}">
  <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
  <script type="text/javascript" th:src="@{/assets/js/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/assets/js/jquery-ui.min.js}"></script>
 <!--  <script src="https://ajax.googleapis.com/ajax/libs/dojo/1.13.0/dojo/dojo.js"></script> -->
  <script>
      var cookie_array_hesh = [];
      var cookie_array_task = [];

      function setcookie(name,value){
     var date = new Date(new Date().getTime() + 3600 * 31 * 1000);
        document.cookie = name+" = "+value+";expires=" + date.toUTCString();
      
    }
    function delete_cookie(cookie_name){
        var cookie_date = new Date ( );  // Текущая дата и время
        cookie_date.setTime ( cookie_date.getTime() - 1 );
        document.cookie = cookie_name += "=; expires=" + cookie_date.toGMTString();
    }
    function delete_all_cookies(){
       delete_cookie('hashtags');
       delete_cookie('task_Id');
    }
   function getCookie(c_name) {
    if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1) {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) {
                c_end = document.cookie.length;
            }
            return unescape(document.cookie.substring(c_start, c_end));
        }
    }
    return "";
}
    $(document).ready(function(){
        var show_in_list = JSON.parse(getCookie('hashtags'));
        var show_in_list2 = JSON.parse(getCookie('task_Id'));
        for(var i = 0;i<show_in_list.length;i++){
          var div4 = document.createElement("div4");
          div4.innerHTML +="<li><a href="+show_in_list2[i]+">"+show_in_list[i]+"</a></li>";
          document.getElementById("list").appendChild(div4);
        } 
        // var div4 = document.createElement("div4");
        // div3.innerHTML +="<li><a href=""></a></li>";
        //  document.getElementById("list").appendChild(div4);

    })
    function get(id){return document.getElementById(id)}
    function getVal(id){return Number(get(id).value)}
    function send_data(){
   var mas = get("hesh").value.split(" ");
   var class_btn="btn"+" "+"btn-default";
   var count =getVal("lim");
   var obj = { hashtags: mas, postCount: count};
    $.ajax({
     url: 'http://localhost:8080/api/task/create',
     type: 'POST',
     contentType:'application/json',
     data: JSON.stringify(obj)
  }).then(function(data){
    var link_id=data;
    // alert(cookie_array_hesh[0]);
    var div3 = document.createElement("div3");
    var link="/posts/"+link_id;
    div3.innerHTML +="<a href="+link+" class="+class_btn+">FIND</a>";
    document.getElementById("show_find").appendChild(div3);
    cookie_array_hesh.push(get("hesh").value);
    cookie_array_task.push(link);
    setcookie("hashtags",JSON.stringify(cookie_array_hesh));
    setcookie("task_Id",JSON.stringify(cookie_array_task));
  });
};
  </script>
</head>
<body>
  <!-- main wrapper -->
  <div class="wrapper">
    <!-- header -->
    <header class="header">
      <div class="header-bottom">
        <nav class="navbar navbar-universal navbar-custom">
          <div class="container">
            <div class="row">
              <div class="col-lg-3">
                <!-- <div class="logo"><a href="index.html" class="navbar-brand page-scroll"><img th:src="@{/assets/images/logo/logo.png}" alt="logo"/></a></div> -->
              </div>
              <div class="col-lg-9">
                <div class="navbar-header">
                  <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse navbar-main-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li class=" active"><a href="index.html">Home</a></li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pages <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="faq.html">F.A.Q</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="404.html">404 Page Not Found</a></li>
                      </ul>
                    </li>
                    <li><a href="wizzard-step1.html">Reservation</a></li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Rooms <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="best-rooms.html">All Rooms</a></li>
                        <li><a href="best-rooms-detail.html">Room Detail</a></li>
                      </ul>
                    </li>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Blog <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="blog.html">All Posts</a></li>
                        <li><a href="blog-detail.html">Post Detail</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Purchase</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- /header
     parallax -->
      <section class="bg-parallax parallax-window">
        <div class="overlay"><img th:src="@{/assets/images/about/3.jpg}" height="auto" width="100%"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="parallax-text">
                <h2 id="h_2" class="parallax_t __white" align="center">FIND YOUR #HASHTAG IN INSTAGRAM</h2>
                <br>
                <br>
                <br>
                <br>
                <br>
              </div>
            </div>
            <!-- planner-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 planner">
              <div class="planner-block">
             <!--    <form class="form-planner form-horizontal"  id="login-form" action="" method="post"> -->
                  <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <div class="form-group">
                          <label>Enter #</label>
                          <input type="text" id="hesh" class="form-control"/>
                        </div>
                      </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                     <!--  <div class="form-group" class="form-control"> -->
                          <label>LIMIT</label>
                          <div class="theme-select">
                            <input type="text" id="lim" class="form-control __plannerSelect">
                            </input>
                          </div>
                       <!--  </div> -->
                      </div>
                </div>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="planner-check-availability">
                      <div onclick="send_data()" class="btn btn-default" id="enter">Ввести</div>
                      <div onclick="delete_all_cookies()" class="btn btn-default">Delete</div>
                      <div id="show_find">
                        <!--  <a href="posts.html" class="btn btn-default">FIND</a> -->
                         </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <ul id="list">
                        
                      </ul>
                    </div>
                  </div>
<!--                 </form> -->
              </div>
            </div>
            <!-- /planner-->
          </div>
        </div>
    </section>
    <!-- /parallax -->
    <!-- chose best rooms -->
  
    <!-- /map -->
  <!-- /main wrapper -->
  <!-- footer -->
  <footer class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          
          </div>
        </div>
      </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="footer-bottom_copy">Copyright © 2016 DeluxHotel. Design by <a href="https://themeforest.net/user/Dankov" target="_blank">Dankov</a></div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="footer-bottom_links">
              <a class="active" href="index.html">Home</a>
              <a href="gallery.html">Gallery</a>
              <a href="blog.html">Blog</a>
              <a href="wizzard-step1.html">Reservation</a>
              <a href="#">Purchase</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
  <!-- /footer -->
  <!-- Scripts -->
  <!-- /Scripts -->
</body>
</html>